<!doctype html>
<main>
  <div>
    <div id="first-div" class="dataInput">
      <p class="p-input">Name: <input class="input-input" type="text"></p>
    </div>
    <div id="second-div" class="dataInput">
      <p class="p-input">Age: <input class="input-input" type="text"></p>
    </div>
    <div id="third-div" class="dataInput">
      <p class="p-input">Count: <input class="input-input" type="text"></p>
    </div>
    <div id="fourth-div" class="dataInput">
      <input value="Send Data" class="input-input" type="submit">
    </div>
  </div>
</main>
